<div id="footer">
<div class="footer-navigation"><a title="Atom feed for this site" href="/atom.xml"><img alt="Atom Feed"  src="/pictures/feed-icon-14x14.png" width="14" height="14" class="feed icon"/></a>
<p><b>The Fishbowl is the Weblog of Charles Miller.</b> (<a href="/archives/">Archives</a>)</p>
<p><a href="mailto:cmiller@@pastiche.org">cmiller@@pastiche.org</a></p>
<p><a rel="me" href="https://carl.fish/@@carlfish">Mastodon</a></p>
</div>
 </div>
