@(blog: fishbowl.Blog, post: fishbowl.Post, body: String)
@import fishbowl.dates._

<div class="entry-asset asset hentry">
  <h2 class="entry-date"><span class="day-of-month">@dayOfMonth(post)</span><br/><span class="month-of-year">@shortMonth(post)<br>@shortYear(post)</h2>
  <div class="asset-header">
      <h3 class="asset-name entry-title"><a href="@blog.uriOf(post)">@post.title</a></h3>
  </div>
  <div class="asset-content entry-content">
      <div class="asset-body">
          @post.excerpt.getOrElse("(No excerpt)") <a href="@blog.uriOf(post)">→</a>
      </div>
  </div>
</div>
